# " VARIABLES IN PYHTON "

In [2]:
BirthYear=2001
CurrentYear=2021
Age=CurrentYear-BirthYear
print("So My Age is : ",Age)

So My Age is :  20

In [36]:
First="Fahad"
Middle="Farooq"
Last="Khan"
print("My Full name is :",First+" "+ Middle +" " +Last)

My Full name is : Fahad Farooq Khan

# " NUMBERS IN PYHTON "

# You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.

In [12]:
Length=92
Width=48.2
Area=Length*Width
Round=round(Area,3)  #To Round of too 3 Decimal Digits
print("The Total Area Of Fottball Feild Is :",Round)

The Total Area Of Fottball Feild Is : 4434.4

# You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

In [14]:
Chips=1.49
Bought=9
Bill=1.49*9
AmountReturn=20-Bill
print("The Amount Return By Shopkeeper will be =",AmountReturn)

The Amount Return By Shopkeeper will be = 6.59

# You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)

In [15]:
Length=5.5
area=Length**2
cost=500*area
print("The Total Cost To Replace Tiles Will Be :",cost)

The Total Cost To Replace Tiles Will Be : 15125.0

# Print binary representation of number 17

In [21]:
num=17
print("The Binary Representation OF Number 17 Is :",format(num,'b'))

The Binary Representation OF Number 17 Is : 10001

# " ALL THE LIST FUNC  IN PYTHON "

In [39]:
Courses=['History','Pakistan-Studies','Mathematics']
Extra_Courses=['Numerical Computing', 'Software Engineering',"DATA COMMUNICATION AND NETWORKS"]
print(Courses[-1])
print(Courses[0:2])

Courses.append('MultiVariate Calculus')
print(Courses)

Courses.insert(1,'Social Studies')
print(Courses)

Courses.extend(Extra_Courses)           # TO Combine two list or more
print(Courses)

Courses.pop()                     

Courses.remove('Mathematics')
print(Courses)

Courses.sort()  
print(Courses)

Courses.reverse()
print(Courses)

#if we have to  sort list in descending order

Courses.sort(reverse=True)
print(Courses)

#if we dont have to change any thing in orignal list but want to sort so we can do     

sorted_list=sorted(Courses)
print(sorted_list)



print('---------------------------------------------------------------------------------')
print ('---------------------------------Loop Running-----------------------------------')
print('---------------------------------------------------------------------------------')

 
for index,value in enumerate(Courses):
    print(index,value)
    
print('---------------------------------------------------------------------------------')

for index,value in enumerate(Courses,start=2):
    print(index,value)

print('---------------------------------------------------------------------------------')

Mathematics
['History', 'Pakistan-Studies']
['History', 'Pakistan-Studies', 'Mathematics', 'MultiVariate Calculus']
['History', 'Social Studies', 'Pakistan-Studies', 'Mathematics', 'MultiVariate Calculus']
['History', 'Social Studies', 'Pakistan-Studies', 'Mathematics', 'MultiVariate Calculus', 'Numerical Computing', 'Software Engineering', 'DATA COMMUNICATION AND NETWORKS']
['History', 'Social Studies', 'Pakistan-Studies', 'MultiVariate Calculus', 'Numerical Computing', 'Software Engineering']
['History', 'MultiVariate Calculus', 'Numerical Computing', 'Pakistan-Studies', 'Social Studies', 'Software Engineering']
['Software Engineering', 'Social Studies', 'Pakistan-Studies', 'Numerical Computing', 'MultiVariate Calculus', 'History']
['Software Engineering', 'Social Studies', 'Pakistan-Studies', 'Numerical Computing', 'MultiVariate Calculus', 'History']
['History', 'MultiVariate Calculus', 'Numerical Computing', 'Pakistan-Studies', 'Social Studies', 'Software Engineering']
---------------------------------------------------------------------------------
---------------------------------Loop Running-----------------------------------
---------------------------------------------------------------------------------
0 Software Engineering
1 Social Studies
2 Pakistan-Studies
3 Numerical Computing
4 MultiVariate Calculus
5 History
---------------------------------------------------------------------------------
2 Software Engineering
3 Social Studies
4 Pakistan-Studies
5 Numerical Computing
6 MultiVariate Calculus
7 History
---------------------------------------------------------------------------------

#                 " ALL THE TUPLES FUNC  IN PYTHON "

In [46]:
Courses=('History','Pakistan-Studies','Mathematics')
print(Courses[1])

Pakistan-Studies

In [9]:
def square(num):
    return num**2

In [10]:
square(2)

4

In [14]:
seq=[2,3,4,5,6,7]
list (map(square,seq))

[4, 9, 16, 25, 36, 49]

In [12]:
t=(lambda num:num**2)

In [13]:
seq=[2,3,4,5,6,7]
list(map(lambda x:x**2,seq))

[4, 9, 16, 25, 36, 49]

In [6]:
t(2)

4

In [7]:
f=(lambda x:x*2)

In [8]:
f(4)

8

In [15]:
seq=[2,3,4,5,6,7]
list(filter(lambda x: x%2==0,seq))

[2, 4, 6]

In [16]:
seq=[2,3,4,5,6,7]
list(filter(lambda x:x%3==0,seq))

[3, 6]